#arena {
    width: 500px;
    height: 500px;
    left: 140px;
    top: 140px;
    border-radius: 250px;
    background: #ccc;
    position: absolute;
}

.snake-segment {
    background: black;
    border-radius: 300px;
    position: absolute;
    transition: opacity 600ms;
    -webkit-transition: opacity 600ms;
}

.pip {
    background: black;
    border-radius: 300px;
    position: absolute;
}